In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from functions_EDA import *

Matplotlib is building the font cache; this may take a moment.

In [4]:
# Cargar datos
url = 'df_limpio.csv'
df = cargar_datos(url)

# Mostrar las primeras filas del DataFrame para ver c√≥mo se cargaron los datos
df.head()

,sex,age,level_education,country,year,value_unemployment,value_education
0,Females,15-29,ESO,Austria,2014,15.7,27.9
1,Females,15-29,ESO,Austria,2015,15.3,27.5
2,Females,15-29,ESO,Austria,2016,17.1,27.3
3,Females,15-29,ESO,Austria,2017,16.8,27.2
4,Females,15-29,ESO,Austria,2018,13.4,27.1