In [1]:
import pandas as pd

In [2]:
from functions import read_data, clean_data, change_value

In [3]:
url = "data/edat_lfs_9903__custom_12827842_linear.csv"
education =read_data(url)
pd.set_option('display.max_columns', None)
education.head()

,DATAFLOW,LAST UPDATE,freq,unit,sex,isced11,age,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2014,27.9,b
1,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2015,27.5,NaN
2,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2016,27.3,NaN
3,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2017,27.2,NaN
4,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2018,27.1,NaN

In [4]:
education = clean_data(education)
education.head()

,dataflow,last_update,freq,unit,sex,isced11,age,geo,time_period,obs_value,obs_flag
0,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2014,27.9,b
1,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2015,27.5,NaN
2,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2016,27.3,NaN
3,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2017,27.2,NaN
4,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,A:Annual,PC:Percentage,F:Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2018,27.1,NaN

In [ ]:
#print(education["sex"].unique())
#print()
#print(education["isced11"].unique())
#print()
#print(education["age"].unique())

In [5]:
education = change_value(education)
education.head()

,dataflow,last_update,freq,unit,sex,isced11,age,geo,time_period,obs_value,obs_flag
0,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,Anual,Percentage,Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2014,27.9,b
1,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,Anual,Percentage,Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2015,27.5,NaN
2,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,Anual,Percentage,Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2016,27.3,NaN
3,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,Anual,Percentage,Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2017,27.2,NaN
4,ESTAT:EDAT_LFS_9903(1.0),13/06/24 23:00:00,Anual,Percentage,Females,"ED0-2:Less than primary, primary and lower sec...",Y15-29:From 15 to 29 years,AT:Austria,2018,27.1,NaN

In [6]:
url2 = r"C:\Users\Bapa\Downloads\yth_empl_090__custom_12832588_linear.csv"
unemployment = read_data(url2)
unemployment.head()

,DATAFLOW,LAST UPDATE,freq,sex,age,unit,isced11,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:YTH_EMPL_090(1.0),13/06/24 23:00:00,A,F,Y15-29,PC,ED0-2,AT,2014,15.7,b
1,ESTAT:YTH_EMPL_090(1.0),13/06/24 23:00:00,A,F,Y15-29,PC,ED0-2,AT,2015,15.3,NaN
2,ESTAT:YTH_EMPL_090(1.0),13/06/24 23:00:00,A,F,Y15-29,PC,ED0-2,AT,2016,17.1,NaN
3,ESTAT:YTH_EMPL_090(1.0),13/06/24 23:00:00,A,F,Y15-29,PC,ED0-2,AT,2017,16.8,NaN
4,ESTAT:YTH_EMPL_090(1.0),13/06/24 23:00:00,A,F,Y15-29,PC,ED0-2,AT,2018,13.4,NaN